@{
    ViewData["Title"] = "Inicio";
}

<div class="text-center">
    <div class="container">
    <h1 class="display-4">Bienvenidos</h1></br>
    <h5>Esta aplicación permitirá a los usuarios gestionar los articulos que ingresan a un predio de la empresa.</h5></br>
    
    <div class="row">
        <div class="col">
          <p>Registrar el ingreso de un artículo al predio para su custodia</p>
          <p><a class="btn btn-primary" asp-area="" asp-controller="Articulo_custodia" asp-action="Create">Ingreso artículo</a></p>
          <p>Registro de un nuevo transportista</p></br>
          <p> <a class="btn btn-warning" asp-area="" asp-controller="Transportistas" asp-action="Create">Registro de Transportista</a></p>
           
      </div>
      <div class="col">
          <p>El cliente se presenta al predio para retirar articulos que tenga pendiente de retiro</p>
          <p> <a class="btn btn-success" asp-area="" asp-controller="Articulo_custodia" asp-action="Retiro">Solicitud de retiro</a></p>
           <p>Registro de un nuevo cliente</p></br>
          <p> <a class="btn btn-warning" asp-area="" asp-controller="Clientes" asp-action="Create">Registro de Cliente</a></p>
      </div>
          
      <div class="col">
          <h6>Reportes y listados</h6>
          <ul class="list-group">
            <li class="list-group-item"><a class="btn btn-info" asp-area="" asp-controller="Clientes" asp-action="Index">Lista de todos los clientes</a></li>
            <li class="list-group-item"><a class="btn btn-info" asp-area="" asp-controller="Articulo_custodia" asp-action="Index">Lista de todos los articulos</a></li>
            <li class="list-group-item"><a class="btn btn-info" asp-area="" asp-controller="Articulo_retirado" asp-action="Index">Reporte de solicitudes de retiro</a></li>
            <li class="list-group-item"><a class="btn btn-info" asp-area="" asp-controller="Articulo_retirado" asp-action="Index">Reporte de retiros por fecha</a></li>
        </ul>
      </div>
      
    </div>

    
    </div>
</div>
